.pagination {
  
  text-align: center;
}

.pagination ul {
  list-style: none;
  text-align: center;
}

.pagination ul li {
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination ul li button {
  width: 40px;
  line-height: 25px;
  padding: 4px;
  border:none;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

.pagination ul li .active {
    background: #741188;
}